<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogging.aps.persistence.PassageInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.blogging.aps.model.entity.post.PassageInfoEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="passage_id" property="passageId"  />
    <result column="add_time" property="addTime" />
    <result column="update_time" property="updateTime" />
    <result column="del_flag" property="delFlag" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.blogging.aps.model.entity.post.PassageInfoEntity" extends="BaseResultMap" >
    <result column="content" property="content" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, passage_id, add_time, update_time, del_flag
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from passage
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from passage
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.blogging.aps.model.entity.post.PassageInfoEntity" >
    insert into passage (id, passage_id, add_time, 
      update_time, del_flag, content
      )
    values (#{id}, #{passageId}, #{addTime}, 
      #{updateTime}, #{delFlag}, #{content}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blogging.aps.model.entity.post.PassageInfoEntity" >
    insert into passage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="passageId != null" >
        passage_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="passageId != null" >
        #{passageId},
      </if>
      <if test="addTime != null" >
        #{addTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="delFlag != null" >
        #{delFlag},
      </if>
      <if test="content != null" >
        #{content},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blogging.aps.model.entity.post.PassageInfoEntity" >
    update passage
    <set >
      <if test="passageId != null" >
        passage_id = #{passageId},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blogging.aps.model.entity.post.PassageInfoEntity" >
    update passage
    set passage_id = #{passageId},
      add_time = #{addTime},
      update_time = #{updateTime},
      del_flag = #{delFlag},
      content = #{content}
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blogging.aps.model.entity.post.PassageInfoEntity" >
    update passage
    set passage_id = #{passageId},
      add_time = #{addTime},
      update_time = #{updateTime},
      del_flag = #{delFlag}
    where id = #{id}
  </update>
</mapper>