<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogging.aps.persistence.PostInfoEntityMapper">
  <resultMap id="BaseResultMap" type="com.blogging.aps.model.entity.post.PostInfoEntity">
    <result column="id"  property="id" />
    <result column="post_id"  property="postId" />
    <result column="member_id"  property="memberId" />
    <result column="title"  property="title" />
    <result column="category"  property="category" />
    <result column="passage_id"  property="passageId" />
    <result column="release_flag" property="releaseFlag"/>
    <result column="del_flag"  property="delFlag" />
    <result column="add_time"  property="addTime" />
    <result column="update_time"  property="updateTime" />
    <result column="summary"  property="summary" />
  </resultMap>
  <sql id="Base_Column_List">
    id, post_id, member_id, title, category, passage_id, release_flag, del_flag, add_time, update_time, summary
  </sql>
  <insert id="insert" parameterType="com.blogging.aps.model.entity.post.PostInfoEntity">
    insert into post_info (id, post_id, member_id, 
      title, category, passage_id, release_flag,
      del_flag, add_time, update_time, 
      summary)
    values (#{id}, #{postId}, #{memberId}, 
      #{title}, #{category}, #{passageId}, #{releaseFlag},
      #{delFlag}, #{addTime}, #{updateTime}, 
      #{summary})
  </insert>
  <insert id="insertSelective" parameterType="com.blogging.aps.model.entity.post.PostInfoEntity">
    insert into post_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="passageId != null">
        passage_id,
      </if>
      <if test="releaseFlag != null">
        release_flag,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="summary != null">
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="postId != null">
        #{postId},
      </if>
      <if test="memberId != null">
        #{memberId},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="category != null">
        #{category},
      </if>
      <if test="passageId != null">
        #{passageId},
      </if>
      <if test="releaseFlag != null">
        #{releaseFlag},
      </if>
      <if test="delFlag != null">
        #{delFlag},
      </if>
      <if test="addTime != null">
        #{addTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="summary != null">
        #{summary},
      </if>
    </trim>
  </insert>

  <select id="selectLatestFivePosts" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    AND
    release_flag = 1
    ORDER BY  update_time DESC
    limit 5
  </select>

  <select id="selectPostByPostId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    AND
    post_id = #{postId}
    <if test="releaseFlag != null">
      AND
      release_flag = #{releaseFlag}
    </if>
  </select>

  <select id="selectPostByPostIdWithoutDel" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    post_id = #{postId}
  </select>

  <select id="selectPreviousPost" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    AND
    release_flag = 1
    AND id in (
        select min(t.id) from post_info t where t.id &gt; #{id}
    )
  </select>

  <select id="selectNextPost" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    AND
    release_flag = 1
    AND id in (
        select max(t.id) from post_info t where t.id &lt; #{id}
    )
  </select>

  <select id="selectPostListByPaging" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    <if test="delFlag == null">
      del_flag = 0
    </if>
    <if test="delFlag != null">
      del_flag = #{delFlag}
    </if>
    <if test="releaseFlag != null and releaseFlag != 2">
      AND
      release_flag = #{releaseFlag}
    </if>
    ORDER BY id DESC
  </select>

  <select id="selectPostByCategory" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE del_flag = 0
    AND release_flag = 1
    AND category = #{category}
  </select>

  <select id="selectPostByIdList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    <if test="releaseFlag != null">
      AND
      release_flag = #{releaseFlag}
    </if>
    <if test="postIdList != null">
      AND
      post_id in
      <foreach collection="postIdList" item="item" open="(" close=")"
               separator=",">
        #{item}
      </foreach>
    </if>
  </select>

  <select id="selectPostCount" resultType="java.lang.Integer">
    SELECT
    count(*) as amount
    FROM post_info
    WHERE
    <if test="delFlag == null">
      del_flag = 0
    </if>
    <if test="delFlag != null">
      del_flag = #{delFlag}
    </if>
    <if test="releaseFlag != null and releaseFlag != 2">
      AND
      release_flag = #{releaseFlag}
    </if>
  </select>

  <select id="selectDrafts" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
      del_flag = 0
    <if test="releaseFlag != null">
      AND release_flag = #{releaseFlag}
    </if>
  </select>

  <select id="selectRubbish" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = #{delFlag}
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.blogging.aps.model.entity.post.PostInfoEntity" >
    update post_info
    <set >
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="category != null" >
        category = #{category},
      </if>
      <if test="releaseFlag != null" >
        release_flag = #{releaseFlag},
      </if>
      <if test="summary != null" >
        summary = #{summary},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
    where post_id = #{postId}
  </update>

  <update id="updateByCategory" >
    update post_info
    SET category = #{newName}
    where category = #{oldName}
  </update>

  <delete id="deletePostByPostId">
    DELETE FROM post_info
    WHERE
    post_id =#{postId}
  </delete>

</mapper>