<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogging.aps.persistence.PostInfoEntityMapper">
  <resultMap id="BaseResultMap" type="com.blogging.aps.model.entity.post.PostInfoEntity">
    <result column="id"  property="id" />
    <result column="post_id"  property="postId" />
    <result column="member_id"  property="memberId" />
    <result column="title"  property="title" />
    <result column="category"  property="category" />
    <result column="passage_id"  property="passageId" />
    <result column="del_flag"  property="delFlag" />
    <result column="add_time"  property="addTime" />
    <result column="update_time"  property="updateTime" />
    <result column="summary"  property="summary" />
  </resultMap>
  <sql id="Base_Column_List">
    id, post_id, member_id, title, category, passage_id, del_flag, add_time, update_time, summary
  </sql>
  <insert id="insert" parameterType="com.blogging.aps.model.entity.post.PostInfoEntity">
    insert into post_info (id, post_id, member_id, 
      title, category, passage_id, 
      del_flag, add_time, update_time, 
      summary)
    values (#{id}, #{postId}, #{memberId}, 
      #{title}, #{category}, #{passageId}, 
      #{delFlag}, #{addTime}, #{updateTime}, 
      #{summary})
  </insert>
  <insert id="insertSelective" parameterType="com.blogging.aps.model.entity.post.PostInfoEntity">
    insert into post_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="passageId != null">
        passage_id,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="summary != null">
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="postId != null">
        #{postId},
      </if>
      <if test="memberId != null">
        #{memberId},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="category != null">
        #{category},
      </if>
      <if test="passageId != null">
        #{passageId},
      </if>
      <if test="delFlag != null">
        #{delFlag},
      </if>
      <if test="addTime != null">
        #{addTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="summary != null">
        #{summary},
      </if>
    </trim>
  </insert>

  <select id="selectLatestFivePosts" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    ORDER BY  update_time DESC
    limit 5
  </select>

  <select id="selectPostByPostId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    AND
    post_id = #{postId}
  </select>

  <select id="selectPreviousPost" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    AND
    post_id not in (#{postId})
    AND
    add_time &lt; #{addTime}
    ORDER BY add_time DESC
    limit 1
  </select>

  <select id="selectNextPost" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    AND
    post_id not in (#{postId})
    AND
    add_time &gt; #{addTime}
    limit 1
  </select>

  <select id="selectPostListByPaging" resultMap="BaseResultMap" parameterType="com.blogging.aps.model.dto.PostPagingQueryDTO">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post_info
    WHERE
    del_flag = 0
    AND
    id &lt; #{lastMinId}
    ORDER BY id DESC
    limit #{pageSize}
  </select>
</mapper>