<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogging.aps.persistence.TagRelationEntityMapper" >
  <resultMap id="BaseResultMap" type="com.blogging.aps.model.entity.post.TagRelationEntity" >
    <result column="id" property="id" />
    <result column="tag_id" property="tagId" />
    <result column="post_id" property="postId" />
    <result column="del_flag" property="delFlag" />
    <result column="add_time" property="addTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <resultMap id="TagAmountResultMap" type="com.blogging.aps.model.dto.TagAmountDTO" >
    <result column="tag_id" property="tagId" />
    <result column="amount" property="amount"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, tag_id, post_id, del_flag, add_time, update_time
  </sql>
  <sql id="Amount_Statistic_List">
    tag_id, count(*) as amount
  </sql>
  <insert id="insert" parameterType="com.blogging.aps.model.entity.post.TagRelationEntity" >
    insert into tag_relation (id, tag_id, post_id, 
      del_flag, add_time, update_time
      )
    values (#{id}, #{tagId}, #{postId}, 
      #{delFlag}, #{addTime}, #{updateTime}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blogging.aps.model.entity.post.TagRelationEntity" >
    insert into tag_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="tagId != null" >
        #{tagId},
      </if>
      <if test="postId != null" >
        #{postId},
      </if>
      <if test="delFlag != null" >
        #{delFlag},
      </if>
      <if test="addTime != null" >
        #{addTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
    </trim>
  </insert>

  <select id="selectByPostId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tag_relation
    WHERE
    del_flag = 0
    AND
    post_id = #{postId}
  </select>

  <select id="selectByPostIdWithoutDel" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tag_relation
    WHERE
    post_id = #{postId}
  </select>

  <select id="selectTagAmount" resultMap="TagAmountResultMap">
    SELECT
    <include refid="Amount_Statistic_List"/>
    FROM tag_relation
    WHERE
    del_flag = 0
    GROUP BY tag_id
    ORDER BY amount desc limit 20
  </select>

  <select id="selectAllTagAmount" resultMap="TagAmountResultMap">
    SELECT
    <include refid="Amount_Statistic_List"/>
    FROM tag_relation
    WHERE
    del_flag = 0
    GROUP BY tag_id
    ORDER BY amount desc
  </select>

  <select id="selectByTagIdPaging" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tag_relation
    WHERE
    del_flag = 0
    AND
    tag_id = #{tagId}
  </select>

  <select id="selectByTagId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tag_relation
    WHERE
    del_flag = 0
    AND
    tag_id = #{tagId}
  </select>

  <update id="updateByPostIdSelective" parameterType="com.blogging.aps.model.entity.post.TagRelationEntity" >
    update tag_relation
    <set >
      <if test="tagId != null" >
        tag_id = #{tagId},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
    </set>
    where post_id = #{postId}
  </update>
</mapper>